@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Open+Sans:wght@500;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
html {
  overflow-x: hidden;
  position: relative;
}
html.at {
  overflow-y: hidden;
}
img {
  height: 24px;
  width: 24px;
}
:root {
  --dark-green: #145858;
  --light-green: #c8e0ca;
  --lighter-green: #ecffee;
  --light-black: #313131;
}
.contanier {
  padding: 75px 100px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.intro {
  min-height: 800px;
  padding: 0 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 65%), rgba(0, 0, 0, 0)),
    url("../img/ch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}
.ul1,
.ul2 {
  display: flex;
  align-items: center;
}
.ul1 a {
  font-family: cursive;
  font-size: 21px;
}
a {
  color: var(--lighter-green);
}

.ul2 li {
  margin-left: 20px;
  text-transform: uppercase;
}
.ul2 li a:hover {
  color: var(--dark-green);
  transform: color;
  transition: 0.5s ease;
}
.text_con {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 40px;
  justify-content: flex-start;
}
.t {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-transform: capitalize;
  gap: 8px;
}
.t1 {
  font-size: 33px;
  padding-bottom: 12px;
  color: white;
}
.t2 {
  font-size: 58px;
  line-height: 1;
  padding-bottom: 12px;
  font-weight: bold;
  color: var(--dark-green);
}
.con1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-bottom: 12px;
  text-transform: capitalize;
}
.con2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 460px;
  margin-bottom: 80px;
}
.t3 {
  font-size: 22px;
  color: var(--lighter-green);
}
.line {
  height: 3px;
  width: 150px;
  background-color: var(--lighter-green);
}
.btn,
.btn1 {
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  z-index: 1;
  text-align: left;
  cursor: pointer;
}
.btn {
  width: fit-content;
  outline: 2px solid #ecffee;
}
.btn1 {
  width: 200px;
  outline: 2px solid var(--dark-green);
}
.btn p {
  color: #ecffee;
  z-index: 1;
  text-transform: capitalize;
}
.btn1 p {
  color: var(--dark-green);
  text-align: center;
  z-index: 1;
  text-transform: capitalize;
}
.btn::before,
.btn1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  background-color: var(--dark-green);
}
.btn::after,
.btn1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -2;
  background-color: var(--light-green);
}
.btn:hover::before,
.btn1:hover::before {
  height: 100%;
  transition: height 0.4s ease-in-out;
  transition-delay: 0.2s;
}
.btn:hover::after,
.btn1:hover::after {
  height: 100%;
  transition: height 0.4s ease-in-out;
}
.btn1:hover p {
  transition-delay: 0.4s;
  color: white;
}

.hamburger-lines {
  display: none;
  height: 21px;
  width: 26px;
  z-index: 2;
}
.linee {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}
.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line2 {
  transition: transform 0.2s ease-in-out;
}

.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.text_con .t .t11 {
  font-size: 24px;
}

.revealup {
  position: relative;
  transform: translateY(200px);
  opacity: 0;
  transition: all 1.5s ease;
}
.activeup {
  transform: translateY(0px);
  opacity: 1;
}
.reveal {
  position: relative;
  transform: translateX(-300px);
  opacity: 0;
  transition: all 1.5s ease;
}
.active {
  transform: translateX(0px);
  opacity: 1;
}

.reveal1 {
  position: relative;
  transform: translateX(300px);
  opacity: 0;
  transition: all 1.5s ease;
}
.active1 {
  transform: translateX(0px);
  opacity: 1;
}

.intro_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro1_text {
  text-align: left;
  flex-basis: 45%;
}
.intro1_imgholder {
  width: 100%;
  height: 100%;
  flex-basis: 45%;
}
.intro1_imgholder img {
  width: 100%;
  height: 100%;
}
.intro1_text .t1 {
  font-size: 19px;
  color: black;
}
.intro1_text .t3 {
  font-size: 19px;
  color: black;
}

.intro1_text .t2 {
  font-weight: bolder;
  font-size: 26px;
  color: var(--dark-green);
  text-transform: capitalize;
}
.time-per {
  background-color: #f7f7f7;
}
.title {
  width: fit-content;
  margin: 0 auto 50px;
  color: #145858;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
.title .p1 {
  position: relative;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}
.title .p1::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: #145858;
  top: 50%;
  left: -70px;
  z-index: 2;
}
.title .p1::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: #145858;
  top: 50%;
  right: -70px;
  z-index: 2;
}
.title .p2 {
  font-size: 25px;
}
.timing {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.time {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
}
.time:hover {
  transform: scale(1.0826);
}
.time1 {
  background-image: linear-gradient(
      rgba(43, 41, 41, 0.65),
      rgba(43, 41, 41, 0.65)
    ),
    url("../img/pancake.jpg");
}
.time2 {
  background-image: linear-gradient(
      rgba(43, 41, 41, 0.65),
      rgba(43, 41, 41, 0.65)
    ),
    url("../img/grapeleaves.jpg");
}
.time3 {
  background-image: linear-gradient(
      rgba(43, 41, 41, 0.65),
      rgba(43, 41, 41, 0.65)
    ),
    url("../img/food.jpg");
}
.texts-contanier {
  padding: 115px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1 p {
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 15px;
  text-align: center;
  color: white;
}
.timing .t1 {
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}
.timing .t2 {
  font-size: 20px;
  text-align: center;
  display: flex;
  gap: 5px;
  color: white;
}
.items {
  background-color: white;
}
.items1 {
  background-color: #f7f7f7;
  padding-bottom: 20px;
}

.best-sell-sec .text1 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.best-sell-sec .text1 p {
  font-size: 30px;
  text-align: left;
  color: #145858;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.best-sell-sec .text1 .s-line {
  width: 160px;
  height: 2px;
  background-color: #145858;
}
.best-sell-sec .text2 p {
  font-size: 75px;
  font-weight: 500;
  text-align: left;
  color: #145858;
  text-transform: capitalize;
}
.text3 {
  text-align: center;
  padding-bottom: 40px;
  text-transform: capitalize;
  font-family: monospace;
}
.text3 p {
  font-size: 20px;
  color: var(--light-black);
}
.imgs-con {
  display: grid;
  margin: 10px 0;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}
.imgs-con .img1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  z-index: 1;
}
.imgs-con .img1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.175);
  z-index: 2;
}
.imgs-con .img1:hover::after {
  height: 100%;
  transition: 0.3s;
  transition-timing-function: ease;
}
.imgs-con .img1 img {
  transition: 0.3s;
  transition-timing-function: linear;
}
.imgs-con .img1:hover.img1 img {
  transform: scale(1.2);
}

.imgs-con .img1:hover .best-sell-info {
  transform: translateY(-50px);
}
.imgs-con .img1 .best-sell-info {
  z-index: 3;
  transition: 0.3s;
  transition-timing-function: linear;
}

.imgs-con .img1 .best-sell-info:not(:last-child) {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.imgs-con .img1 .best-sell-info:last-child {
  position: absolute;
  bottom: -30px;
  left: 16px;
}
.imgs-con .img1 .upper {
  display: flex;
  align-items: center;
  gap: 3px;
}
.imgs-con .img1 .upper .line3 {
  width: 25px;
  height: 3px;
  background-color: white;
}
.imgs-con .img1 .product-price {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}
.imgs-con .img1 .product-name {
  padding-bottom: 10px;
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
}
.imgs-con img {
  width: 100%;
  height: 100%;
}
.imgs-con .img1 .out-text {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.imgs-con .img1 .out-text i {
  color: #eb682c;
  font-size: 19px;
}
.imgs-con .img1 .out-text p {
  font-size: 19px;
  color: white;
  text-transform: capitalize;
  font-weight: 300;
}

.testi-con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));

  border: 1px solid var(--light-black);
}

.testi-con i {
  font-size: 35px;
  color: var(--light-black);
}
.testi-con2 {
  background-color: var(--lighter-green);
  align-items: center;
  text-align: center;
  padding: 30px;
}
.testi-con2 i {
  padding: 40px 0;
}
.testi-text {
  font-size: 24px;
  color: var(--light-black);
  font-weight: 600;
  font-family: sans-serif;
  padding-bottom: 60px;
}
.testi-con img {
  width: 100%;
  height: 100%;
}
.test-info {
  text-align: center;
  text-transform: capitalize;
}

.testi-title {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 10px 0;
}
.testi-title1 {
  text-align: center;
  text-transform: capitalize;
  max-width: 780px;
  font-size: 64px;
  color: var(--dark-green);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
.testi-title p {
  font-size: 20px;
  color: #145858;
}
.testi-line {
  width: 90px;
  height: 2px;
  background-color: var(--light-black);
}
.promotions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.promotion-con {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.promotion-con .promo-text1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 20px;
  color: #145858;
}
.promotion-con .promo-text2 {
  color: #605d65;
  padding-bottom: 18px;
  text-transform: capitalize;
}
.input-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 33px;
  border: 1px solid #605d65;
  border-radius: 13px;
  padding: 10px;
  margin: 0 auto;
}
.promotion-con input {
  height: 100%;
  border: none;
  width: 100%;
  margin: 0 auto;
}

.input-con input:focus {
  outline: none;
}

.promotion-con .input-con:hover {
  outline: 1px solid rgba(128, 128, 128, 0.3);
}
.promotion-con i {
  font-size: 18px;
  margin: 0px 5px;
  cursor: pointer;
}
.footer {
  background: linear-gradient(320deg, #c8e0ca 23%, #145858 100%);
  color: white;
}
.footer-containers {
  display: grid;
  padding: 50px 0px;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.footer-container h2 {
  padding-bottom: 20px;
  text-transform: capitalize;
}
.footer-container li {
  font-size: 15px;
  font-weight: 100;
  padding: 9px 0;
  text-transform: capitalize;
}
.fc span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.ft {
  text-decoration: underline;
  cursor: pointer;
}
.social-con {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 40px 0;
}
.social-con i {
  font-size: 22px;
  cursor: pointer;
}
.social-con i:hover {
  transform: scale(1.1);
}
.pay-cons {
  border-top: 1px solid rgba(255, 255, 255, 0.329);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  text-align: center;
}
.pay-con {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pay-con i {
  font-size: 30px;
  color: whitesmoke;
}
.pay-cons .brand {
  padding-top: 10px;
  text-align: center;
  font-size: 10px;
}

.hero {
  font-size: 70px;
}
.about-header,
.about-header1,
.about-header2 {
  height: 475px;
  padding: 0 35px;

  background-repeat: no-repeat;
  background-size: cover;
}
.about-header {
  background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 30%)),
    url("../img/about-background.jpg");
  background-position: center;
}
.about-header1 {
  background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 30%)),
    url("../img/ot.jpg");
  background-position: center;
}
.about-header2 {
  background-image: linear-gradient(rgba(0, 0, 0, 40%), rgba(0, 0, 0, 30%)),
    url("../img/t12.jpg");
  background-position: top;
}

.ab-intro-text {
  height: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ab-intro-text h1 {
  position: relative;
  color: white;
  text-transform: capitalize;
  font-size: 64px;
}
.ab-intro-text h1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background-color: white;
}

.intro1_imgholder-stry {
  width: 100%;
  height: 100%;
}
.intro1_imgholder-stry img {
  width: 200px;
  height: auto;
}
.food-sec {
  background-color: #f7f7f7;
}
.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.row-img1 {
  width: 350px;
  padding-top: 100px;
}
.row-img {
  width: 350px;
}
.row-img1 img,
.row-img img {
  width: 100%;
  height: 100%;
}
.section-con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2rem;
}
.sec-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px 5px #3333331f;
}
.sec-box:hover img {
  transform: rotateY(3.142rad);
}
.sec-box img {
  padding: 20px 0;
  width: 70px;
  height: 70px;
  transition: transform 0.6s ease-in-out;
}
.sec-box {
  color: #313131;
  text-align: center;
  text-transform: capitalize;
  background-color: #f7f7f7;
}
.number {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 45px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  color: #145858;
}
.g {
  font-size: 24px;
  font-weight: 500;
}
.contact {
  display: flex;
  flex-direction: column;

  border: 3px solid var(--light-green);
  padding: 70px 20px;
}
.contact-text {
  max-width: 800px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  text-align: center;
  font-size: 24px;
  color: #145858;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.contact .input-con1 input {
  border-style: none;
  width: 100%;
  height: 35px;
  margin-bottom: 50px;
  border-bottom: 1px solid#313131;
  position: relative;
}
.contact .message input {
  border-style: none;
  border-bottom: 1px solid#313131;
  width: 100%;
  height: 100px;
  vertical-align: text-top;
}

.contact label {
  color: #145858;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contact .na-em {
  display: flex;
  gap: 10px;
}
.contact input:focus {
  outline: none;
}
.contact .input-con1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.location-sec {
  background-color: #f7f7f7;
}
.location-cons {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
.loc-infos {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.loc-info {
  padding: 22px 5px;
}
.loc-info .fp {
  padding-top: 8px;
  color: var(--light-black);
  text-transform: capitalize;
}
.loc-info h2 {
  font-weight: 500;
  color: var(--dark-green);
  text-transform: capitalize;
}
.map {
  align-items: left;
  display: flex;
}
.map iframe {
  width: 560px;
  height: 500px;
}
.menu-con {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin: 10px 0;
}
.menu-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 0px #3333331f;
  height: 90px;

  text-transform: capitalize;
}
.rio {
  display: flex;
  gap: 30px;
  align-items: center;
}
.menu-box img {
  width: 90px;
  height: 90px;
}
.menu-con .box-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
}
.menu-con .box-infop {
  display: flex;
  gap: 10px;
  margin-right: 18px;
  align-items: center;
}
.box-info .product-name {
  font-size: 22px;
}
.box-info .product-price {
  font-size: 18px;

  text-transform: uppercase;
  color: var(--dark-green);
}
.box-infop p {
  font-size: 18px;
}
.box-infop i {
  font-size: 18px;
  color: var(--dark-green);
}
.box-infop:hover {
  cursor: pointer;
}
.pop-up {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100vw;
  background-color: #145858;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  z-index: 10000;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
.pop-up ul li {
  font-size: 35px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.pop-up.active {
  left: 0%;
}
.ul3 a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(192, 208, 223, 0.218);
  font-size: 125px;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
.ul3 li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
.hamburger {
  height: 40px;
  width: 40px;
  display: none;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;

  align-items: center;
  justify-content: center;
  z-index: 9999999;
  cursor: pointer;
  transform: scale(0.8);
}
.hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
.hamburger .bar {
  height: 2px;
  width: 24px;
  position: relative;
  background-color: white;
  z-index: -1;
}
.hamburger .bar::after,
.hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
.hamburger .bar::after {
  top: 8px;
}
.hamburger .bar::before {
  bottom: 8px;
}
.hamburger.active .bar::before {
  bottom: 0;
}
.hamburger.active .bar::after {
  top: 0;
}
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@media only screen and (max-width: 860px) {
  .contanier {
    padding: 30px 50px;
  }
  .intro {
    min-height: 650px;
    padding: 10px 50px;
  }
  .t1 {
    font-size: 20px;
  }
  .t2 {
    font-size: 34px;
  }
  .t3 {
    font-size: 18px;
  }
  .header,
  .about-header {
    font-size: 17px;
    padding: 20px 0px;
  }
  .con1 {
    padding-top: 12px;
  }
  .con2 {
    margin-bottom: 40px;
    max-width: 310px;
  }
  .intro_1 {
    margin: 0;
    flex-direction: column;
  }

  .intro1_text {
    padding: 45px 0;
  }
  .intro1_text .t1 {
    font-size: 16px;
  }
  .intro1_text .t3 {
    font-size: 16px;
  }
  .intro1_text .t2 {
    font-size: 20px;
  }
  .testimonials .testi-con:first-child {
    display: flex;
    flex-direction: column-reverse;
  }
  .testimonials .testi-con:last-child {
    display: flex;
    flex-direction: column;
  }

  .testi-title1 {
    max-width: 500px;
  }
  .testi-title1 p {
    font-size: 51px;
  }
  .testi-text {
    font-size: 19px;

    padding-bottom: 40px;
  }
  .about-header {
    padding: 10px 50px;
  }
  .gallery {
    flex-direction: column;
    align-items: flex-start;
  }
  .row-img {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 5px;
    width: 50%;
  }
  .row-img1 {
    display: flex;
    gap: 5px;
    padding-top: 0;
    width: 50%;
  }
  .row-img1 img,
  .row-img img {
    width: 100%;
    height: 100%;
  }
  .location-cons {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .loc-infos {
    text-align: left;
  }
  .map iframe {
    width: 100%;
  }
  .menu-con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }
}
@media only screen and (max-width: 600px) {
  .contanier {
    padding: 8px 16px;
  }
  .intro {
    min-height: 400px;
  }
  .ul2 li {
    display: none;
  }
  .t {
    gap: 5px;
  }
  .t1 {
    font-size: 24px;
  }
  .t2 {
    font-size: 30px;
  }
  .header {
    font-size: 18px;
    padding: 20px 0px;
  }
  .line {
    width: 70px;
  }
  .con1 {
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .con2 {
    display: none;
  }
  .btn {
    font-size: 14px;
    height: 20px;
    padding: 7px;
  }

  .intro1_text {
    padding: 10px 0px;
  }
  .intro1_text .t1 {
    font-size: 18px;
  }
  .intro1_text .t3 {
    font-size: 18px;
  }
  .intro1_text .t2 {
    font-size: 23px;
  }
  .text3 p {
    font-size: 18px;
  }

  .testi-con2 {
    padding: 15px;
  }
  .testi-con2 i {
    padding: 25px 0;
  }
  .testi-text {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .ul1 a {
    font-family: cursive;
    font-size: 23px;
  }
  .title {
    margin: 25px auto 25px;
  }
  .title .p1 {
    font-size: 28px;
    position: relative;

    font-weight: bold;
    z-index: 1;
  }
  .title .p1::before {
    width: 40px;
    left: -43px;
  }
  .title .p1::after {
    width: 40px;
    right: -43px;
  }
  .title .p2 {
    font-size: 14px;
  }

  .best-sell-sec .text3 {
    text-align: left;
    padding-bottom: 20px;
  }
  .best-sell-sec .text3 p {
    font-size: 18px;
  }
  .testi-title1 p {
    font-size: 28px;
  }
  .promotion-con {
    padding: 40px;
  }

  .promotion-con .promo-text1 {
    font-size: 28px;
  }
  .promotion-con .promo-text2 {
    font-size: 12px;
  }
  .input-con {
    width: 240px;
  }
  .contact .na-em {
    display: flex;
    flex-direction: column;
  }
  .menu-con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .rio {
    gap: 15px;
  }
  .box-info .product-name {
    font-size: 19px;
  }
  .box-info .product-price {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--dark-green);
  }
  .box-infop p {
    font-size: 15px;
  }
  .box-infop i {
    font-size: 15px;
    color: var(--dark-green);
  }
  .menu-box {
    height: 60px;
  }
  .menu-box img {
    width: 60px;
    height: 60px;
  }
  .ab-intro-text h1 {
    font-size: 40px;
  }
  .contact-text {
    font-size: 18px;
  }
  .map iframe {
    height: 375px;
  }
  .loc-info {
    padding: 10px 5px;
  }
  .hamburger {
    display: inline-block;
    display: flex;
  }
}
